*{
    font-family:Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 100%;
    background-color: #1f2937;
    margin: -20px 0 0 0;
    padding: 0px 100px 100px 100px;
    border-color: #1f2937;
    flex: 1 1 auto;
}

.header{
    display: flex;
    justify-content: center;
    padding: 10px 100px 0px 100px;
    margin: 0px 150px 0px 100px;
    gap: 10px;
    flex: 1 1 auto;
       
}
.header-logo{
    color: #f9faf8;
    height: 30px;
    width: 300px;
    font-size: 24px;
    font-weight: 900;
    padding: 40px 0 0 100px;
    flex: 1 1 auto;
}

.second-text{
    color: #e5e7eb;
    width: 100px;
    height: 30px;
    font-size: 18px;
    margin: 0;
    padding: 40px;
    text-align: center;
    flex: 1 1 auto;
}

.links{
    color: #e5e7eb;
    text-decoration: none;
    padding: 0px 15px 0px 0px
}

.top-box{
    display: flex;
    justify-content: center;
    padding: 0px 100px 0px 100px;
    height: 400px;
    margin: 100px 200px 100px 200px;
    gap: 20px;
    flex: 1 1 auto;
}

.top-main{
    flex: 1 1 auto;
    justify-content: left;
    width: 300px;
    margin-top: -50px;
    flex: 1 1 auto;
}

.top-header{
    color: #f9faf8;
    font-size: 48px;
}

.top-text{
    color: #e5e7eb;
}

.button{
    height: 50px;
    width: 150px;
    background-color: #3882f6;
    border-color: #3882f6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
    color: #e5e7eb;
}

.top-img{
    background-color: #414a4c;
    height: 200px;
    width: 300px;
    flex: 1 1 auto;
}

.timg-text{
    color: #e5e7eb;
    text-align: center;
    padding: 70px 50px 50px 50px;
}

.mid-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:25%;
    margin: 0px 200px;
    padding: 200px;
}

.mid-hdr{
    color: #1f2937;
    font-size: 36px;
    padding:0px 200px 0px 200px;
    margin: 100px;
    flex: 1 1 auto;
}
.mid-img{
    background-color: #f9faf8;
    border-style: solid;
    border-width: 3px;
    border-color:dodgerblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 15px;
    height: 200px;
    width: 150px;
    flex: 1 1 auto;
}

.mid-text{
    height: 150px;
    width: 150px;
    flex: 1 1 auto;
}

.img-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
}

.text-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
}
/*
.header-cont{
    display: flex;
}

.header{
    height: 50px;
    width: 100%;
    margin: -10px;
    border: 0;
    background-color: #1f2937;
    flex: 1 1 auto;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    margin: 10px 0 0 100px;
}

.second-text{
    color: #e5e7eb;
    font-size: 18px;
}

.top-main{
    color: #f9faf8;
    font-size: 48px;
}

.button{
    background-color: #3882f6;
}

.img-header{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.quote-bk{
    background-color: #e5e7eb;
}

.quote-text{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
}
*/
